{% extends "portal/layout/main.html.twig" %}
{% set title = 'Dirección de Recursos Humanos'|trans %}

{% block content %}
    <div class="card">
        <div class="card-block" id="panel-mision">
            <div class="col-md-4">
                <img src="/assets/img/marca-dos-tintas-300.gif" width="200" alt="Universidad de Sevilla">
            </div>
            <div class="col-md-8">
                <h2>Dirección de Recursos Humanos</h2>
                <p>El área de Recursos Humanos tiene como misión desarrollar una planificación y gestión integral de
                    los recursos humanos, dentro del marco de referencia establecido por las directrices estratégicas
                    de la Universidad de Sevilla, procurando la satisfacción de los clientes internos y externos para
                    asegurar un excelente servicio a la sociedad.</p>
            </div>
        </div>
    </div>
{% endblock %}