
# Composer
/vendor/
composer.lock

# User uploads
/web/uploads/

# Assets managed by Bower
/web/assets/vendor/

# PHPUnit
/phpunit.xml

# Backup entities generated with doctrine:generate:entities command
*/Entity/*~

# PHPStorm
.idea/

# Config
config/dev.php
config/prod.php

# Cache, private_upload, etc
var/
