{% extends 'layout.html.twig' %}
{% set active = 'inicio' %}
{% set title = 'Bienvenido' %}

{% block css %}
    {{ parent() }}
    <!-- only for this view -->
    <link href="assets/plugins/flexslider/flexslider.css" rel="stylesheet">
    <link href="assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="assets/plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
{% endblock %}

{% block js %}
    {{ parent() }}
    <!-- only for this view -->
    <script src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script src="assets/plugins/owl-carousel/owl.carousel.min.js"></script>
{% endblock %}

{% block content %}
    <div class="space-60"></div>
    <div class="blocks-main">
        <div class="container">
            <h2>Colecciones destacadas</h2>
            <div class="row">
                <div class="col-sm-4">
                    <div class="blocks-col">
                        <img src="assets/assan/bg/bg-2.jpg" alt="" class="img-responsive">
                        <div class="block-overlay">
                            <h4>La ríada de 1900</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="blocks-col">
                        <img src="assets/assan/bg/bg-3.jpg" alt="" class="img-responsive">
                        <div class="block-overlay">
                            <h4>Exposición Universal 1927</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="blocks-col">
                        <img src="assets/assan/bg/bg-1.jpg" alt="" class="img-responsive">
                        <div class="block-overlay">
                            <h4>Edificios desaparecidos</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--block main-->
    <div class="space-60"></div>
    <!--new arrivals-->
    <section class="new-arrivals">
        <div class="container">
            <h2 class="section-heading">Novedades</h2>
            <!--owl carousel-->
            <div class="row">
                <div id="owl-slider" class="col-md-12">
                    <div class="item">
                        <div class="item_holder">
                            <a href="#"><img src="assets/assan/women/1.jpg" alt="" class="img-responsive"></a>
                            <div class="title">
                                <h5>Sky-Blue <br>Short Skirt</h5>
                                <span class="price">$29.99</span>
                            </div>
                        </div><!--course holder-->
                    </div> <!--course loop-->
                    <div class="item">
                        <div class="item_holder">
                            <a href="#"><img src="assets/assan/men/1.jpg" alt="" class="img-responsive"></a>
                            <div class="title">
                                <h5>Dark-Blue <br>Men's t-shirt</h5>
                                <span class="price">$19.99 <del>$25.99</del></span>
                            </div>
                        </div><!--course holder-->
                    </div> <!--course loop-->
                    <div class="item">
                        <div class="item_holder">
                            <a href="#"><img src="assets/assan/women/2.jpg" alt="" class="img-responsive"></a>
                            <div class="title">
                                <h5>Black <br>Short Skirt</h5>
                                <span class="price">$29.99</span>
                            </div>
                        </div><!--course holder-->
                    </div> <!--course loop-->
                    <div class="item">
                        <div class="item_holder">
                            <a href="#"><img src="assets/assan/men/3.jpg" alt="" class="img-responsive"></a>
                            <div class="title">
                                <h5>Black <br>analog watch</h5>
                                <span class="price">$45.99</span>
                            </div>
                        </div><!--course holder-->
                    </div> <!--course loop-->
                    <div class="item">
                        <div class="item_holder">
                            <a href="#"><img src="assets/assan/men/4.jpg" alt="" class="img-responsive"></a>
                            <div class="title">
                                <h5>Black & blue <br>Backpack</h5>
                                <span class="price">$45.99</span>
                            </div>
                        </div><!--course holder-->
                    </div> <!--course loop-->
                    <div class="item">
                        <div class="item_holder">
                            <a href="#"><img src="assets/assan/men/5.jpg" alt="" class="img-responsive"></a>
                            <div class="title">
                                <h5>Black & blue <br>Laptop bag</h5>
                                <span class="price">$45.99</span>
                            </div>
                        </div><!--course holder-->
                    </div> <!--course loop-->
                </div>
            </div>
            <!--owl end-->
        </div>
    </section>
    <!--end new arrivals-->
    <div class='space-60'></div>
    <!--parallax section start-->
    <section class="parallax">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h1><span>Upto 50% off on men's collection</span></h1>
                    <a href='#' class="btn btn-skin btn-lg">Shop Now</a>
                </div>
            </div>
        </div>
    </section>
    <!--parallax section end-->
    <div class='space-60'></div>
    <!--popular products-->
    <section class="featured-products">
        <div class="container">
            <h2 class="section-heading">Popular products</h2>
            <div class="row">
                <div class="col-sm-6 col-md-3 ">
                    <div class="item_holder">
                        <a href="#"><img src="assets/assan/women/1.jpg" alt="" class="img-responsive"></a>
                        <div class="title">
                            <h5>Sky-Blue <br>Short Skirt</h5>
                            <span class="price">$29.99</span>
                        </div>
                    </div><!--course holder-->
                </div><!--col end-->
                <div class="col-sm-6 col-md-3 ">
                    <div class="item_holder out-of-stock">
                        <span class="out-stock-label">Out of stock</span>
                        <a href="#"><img src="assets/assan/men/1.jpg" alt="" class="img-responsive"></a>
                        <div class="title">
                            <h5>Sky-Blue <br>Short Skirt</h5>
                            <span class="price">$29.99</span>
                        </div>
                    </div><!--course holder-->
                </div><!--col end-->
                <div class="col-sm-6 col-md-3 ">
                    <div class="item_holder">
                        <a href="#"><img src="assets/assan/men/2.jpg" alt="" class="img-responsive"></a>
                        <div class="title">
                            <h5>Sky-Blue <br>Short Skirt</h5>
                            <span class="price">$29.99</span>
                        </div>
                    </div><!--course holder-->
                </div><!--col end-->
                <div class="col-sm-6 col-md-3 ">
                    <div class="item_holder">
                        <a href="#"><img src="assets/assan/women/2.jpg" alt="" class="img-responsive"></a>
                        <div class="title">
                            <h5>Sky-Blue <br>Short Skirt</h5>
                            <span class="price">$29.99</span>
                        </div>
                    </div><!--course holder-->
                </div><!--col end-->
            </div><!--row-->

            <div class="row">
                <div class="col-sm-6 col-md-3 ">
                    <div class="item_holder">
                        <a href="#"><img src="assets/assan/women/1.jpg" alt="" class="img-responsive"></a>
                        <div class="title">
                            <h5>Sky-Blue <br>Short Skirt</h5>
                            <span class="price">$29.99</span>
                        </div>
                    </div><!--course holder-->
                </div><!--col end-->
                <div class="col-sm-6 col-md-3 ">
                    <div class="item_holder">
                        <span class="offer-lablel">50% off</span>
                        <a href="#"><img src="assets/assan/men/5.jpg" alt="" class="img-responsive"></a>
                        <div class="title">
                            <h5>Sky-Blue <br>Short Skirt</h5>
                            <span class="price">$29.99</span>
                        </div>
                    </div><!--course holder-->
                </div><!--col end-->
                <div class="col-sm-6 col-md-3 ">
                    <div class="item_holder">
                        <a href="#"><img src="assets/assan/men/7.jpg" alt="" class="img-responsive"></a>
                        <div class="title">
                            <h5>Sky-Blue <br>Short Skirt</h5>
                            <span class="price">$29.99</span>
                        </div>
                    </div><!--course holder-->
                </div><!--col end-->
                <div class="col-sm-6 col-md-3 ">
                    <div class="item_holder">
                        <a href="#"><img src="assets/assan/men/4.jpg" alt="" class="img-responsive"></a>
                        <div class="title">
                            <h5>Sky-Blue <br>Short Skirt</h5>
                            <span class="price">$29.99</span>
                        </div>
                    </div><!--course holder-->
                </div><!--col end-->
            </div><!--row-->

            <div class="row">
                <div class="col-sm-6 col-md-3 ">
                    <div class="item_holder">
                        <a href="#"><img src="assets/assan/women/8.jpg" alt="" class="img-responsive"></a>
                        <div class="title">
                            <h5>Sky-Blue <br>Short Skirt</h5>
                            <span class="price">$29.99</span>
                        </div>
                    </div><!--course holder-->
                </div><!--col end-->
                <div class="col-sm-6 col-md-3 ">
                    <div class="item_holder">
                        <a href="#"><img src="assets/assan/men/3.jpg" alt="" class="img-responsive"></a>
                        <div class="title">
                            <h5>Sky-Blue <br>Short Skirt</h5>
                            <span class="price">$29.99</span>
                        </div>
                    </div><!--course holder-->
                </div><!--col end-->
                <div class="col-sm-6 col-md-3 ">
                    <div class="item_holder">
                        <a href="#"><img src="assets/assan/men/10.jpg" alt="" class="img-responsive"></a>
                        <div class="title">
                            <h5>Sky-Blue <br>Short Skirt</h5>
                            <span class="price">$29.99</span>
                        </div>
                    </div><!--course holder-->
                </div><!--col end-->
                <div class="col-sm-6 col-md-3 ">
                    <div class="item_holder">
                        <span class="label-new">New Arrived</span>
                        <a href="#"><img src="assets/assan/women/10.jpg" alt="" class="img-responsive"></a>
                        <div class="title">
                            <h5>Sky-Blue <br>Short Skirt</h5>
                            <span class="price">$29.99</span>
                        </div>
                    </div><!--course holder-->
                </div><!--col end-->
            </div><!--row-->
        </div>
    </section>
    <!--end Popular products-->
    <div class="space-50"></div>
    <div class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h3>Subscribe to newsletter</h3>
                    <p>Lorem ipsum get latest update of products sit amet.</p>
                </div>
                <div class="col-md-7">
                    <form role="form" method="post" action="#" class="subscribe-form  assan-newsletter">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="email"
                                           placeholder="Enter email to subscribe">
                                </div>
                            </div>
                            <div class="col-sm-4 text-center">
                                <div>
                                    <button class="newsletter-btn" name="submit" type="submit">Notify me</button>
                                </div>
                            </div>
                        </div>


                    </form>

                </div>
            </div>
        </div>
    </div>
    <!--newsletter end-->
    <div class="space-50"></div>
    <!--best sellers, featured, sale course section start-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <h3 class="bg-title">Top <span>Rated</span></h3>
                <div class="media-item clearfix">
                    <img src="assets/assan/men/3.jpg" alt="" class="img-responsive" width="100">
                    <div class="media-item-content">
                        <h4><a href="#">Men's watch</a></h4>
                        <span class="cat">Watches</span>
                        <ul class="list-inline">
                            <li>
                                <del>$49.99</del>
                            </li>
                            <li>$29.00</li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i
                                            class="fa fa-heart"></i></a></li>
                        </ul>
                        <div class='rating'>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-empty"></i>
                        </div>
                    </div>
                </div><!--media course-->
                <div class="media-item clearfix">
                    <img src="assets/assan/men/4.jpg" alt="" class="img-responsive" width="100">
                    <div class="media-item-content">
                        <h4><a href="#">Men's Backpack</a></h4>
                        <span class="cat">Backpack</span>
                        <ul class="list-inline">
                            <li>
                                <del>$99.99</del>
                            </li>
                            <li>$69.00</li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i
                                            class="fa fa-heart"></i></a></li>
                        </ul>
                        <div class='rating'>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-empty"></i>
                        </div>
                    </div>
                </div><!--media course-->
                <div class="media-item clearfix">
                    <img src="assets/assan/women/8.jpg" alt="" class="img-responsive" width="100">
                    <div class="media-item-content">
                        <h4><a href="#">Women's T-shirt</a></h4>
                        <span class="cat">T-shirts</span>
                        <ul class="list-inline">
                            <li>
                                <del>$49.99</del>
                            </li>
                            <li>$29.00</li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i
                                            class="fa fa-heart"></i></a></li>
                        </ul>
                        <div class='rating'>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-empty"></i>
                        </div>
                    </div>
                </div><!--media course-->
                <div class="media-item clearfix">
                    <img src="assets/assan/women/6.jpg" alt="" class="img-responsive" width="100">
                    <div class="media-item-content">
                        <h4><a href="#">Yukute Lower</a></h4>
                        <span class="cat">Lowers</span>
                        <ul class="list-inline">
                            <li>
                                <del>$29.99</del>
                            </li>
                            <li>$19.00</li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i
                                            class="fa fa-heart"></i></a></li>
                        </ul>
                        <div class='rating'>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-empty"></i>
                        </div>
                    </div>
                </div><!--media course-->
            </div><!--col-end-->
            <div class="col-sm-4 col-xs-12">
                <h3 class="bg-title">new <span>arrivals</span></h3>
                <div class="media-item clearfix">
                    <img src="assets/assan/men/3.jpg" alt="" class="img-responsive" width="100">
                    <div class="media-item-content">
                        <h4><a href="#">Men's watch</a></h4>
                        <span class="cat">Watches</span>
                        <ul class="list-inline">
                            <li>
                                <del>$49.99</del>
                            </li>
                            <li>$29.00</li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i
                                            class="fa fa-heart"></i></a></li>
                        </ul>
                        <div class='rating'>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-empty"></i>
                        </div>
                    </div>
                </div><!--media course-->
                <div class="media-item clearfix">
                    <img src="assets/assan/men/4.jpg" alt="" class="img-responsive" width="100">
                    <div class="media-item-content">
                        <h4><a href="#">Men's Backpack</a></h4>
                        <span class="cat">Backpack</span>
                        <ul class="list-inline">
                            <li>
                                <del>$99.99</del>
                            </li>
                            <li>$69.00</li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i
                                            class="fa fa-heart"></i></a></li>
                        </ul>
                        <div class='rating'>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-empty"></i>
                        </div>
                    </div>
                </div><!--media course-->
                <div class="media-item clearfix">
                    <img src="assets/assan/women/8.jpg" alt="" class="img-responsive" width="100">
                    <div class="media-item-content">
                        <h4><a href="#">Women's T-shirt</a></h4>
                        <span class="cat">T-shirts</span>
                        <ul class="list-inline">
                            <li>
                                <del>$49.99</del>
                            </li>
                            <li>$29.00</li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i
                                            class="fa fa-heart"></i></a></li>
                        </ul>
                        <div class='rating'>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-empty"></i>
                        </div>
                    </div>
                </div><!--media course-->
                <div class="media-item clearfix">
                    <img src="assets/assan/women/6.jpg" alt="" class="img-responsive" width="100">
                    <div class="media-item-content">
                        <h4><a href="#">Yukute Lower</a></h4>
                        <span class="cat">Lowers</span>
                        <ul class="list-inline">
                            <li>
                                <del>$29.99</del>
                            </li>
                            <li>$19.00</li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i
                                            class="fa fa-heart"></i></a></li>
                        </ul>
                        <div class='rating'>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-empty"></i>
                        </div>
                    </div>
                </div><!--media course-->
            </div><!--col-end-->
            <div class="col-sm-4 col-xs-12">
                <h3 class="bg-title">best <span>sellers</span></h3>
                <div class="media-item clearfix">
                    <img src="assets/assan/men/9.jpg" alt="" class="img-responsive" width="100">
                    <div class="media-item-content">
                        <h4><a href="#">Men's T-shirt</a></h4>
                        <span class="cat">T-shirts</span>
                        <ul class="list-inline">
                            <li>
                                <del>$49.99</del>
                            </li>
                            <li>$29.00</li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i
                                            class="fa fa-heart"></i></a></li>
                        </ul>
                        <div class='rating'>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-empty"></i>
                        </div>
                    </div>
                </div><!--media course-->
                <div class="media-item clearfix">
                    <img src="assets/assan/women/3.jpg" alt="" class="img-responsive" width="100">
                    <div class="media-item-content">
                        <h4><a href="#">Women's Skirt</a></h4>
                        <span class="cat">Skirts</span>
                        <ul class="list-inline">
                            <li>
                                <del>$99.99</del>
                            </li>
                            <li>$69.00</li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i
                                            class="fa fa-heart"></i></a></li>
                        </ul>
                        <div class='rating'>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-empty"></i>
                        </div>
                    </div>
                </div><!--media course-->
                <div class="media-item clearfix">
                    <img src="assets/assan/women/4.jpg" alt="" class="img-responsive" width="100">
                    <div class="media-item-content">
                        <h4><a href="#">Women's Short</a></h4>
                        <span class="cat">Shorts</span>
                        <ul class="list-inline">
                            <li>
                                <del>$49.99</del>
                            </li>
                            <li>$29.00</li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i
                                            class="fa fa-heart"></i></a></li>
                        </ul>
                        <div class='rating'>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-empty"></i>
                        </div>
                    </div>
                </div><!--media course-->
                <div class="media-item clearfix">
                    <img src="assets/assan/men/10.jpg" alt="" class="img-responsive" width="100">
                    <div class="media-item-content">
                        <h4><a href="#">Yukute Lower</a></h4>
                        <span class="cat">Lowers</span>
                        <ul class="list-inline">
                            <li>
                                <del>$29.99</del>
                            </li>
                            <li>$19.00</li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to cart"><i
                                            class="fa fa-shopping-cart"></i></a></li>
                            <li><a href='#' data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i
                                            class="fa fa-heart"></i></a></li>
                        </ul>
                        <div class='rating'>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-empty"></i>
                        </div>
                    </div>
                </div><!--media course-->
            </div><!--col-end-->
        </div>
    </div>
    <!--section end-->
    <div class="space-60"></div>
    <!--features section start-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 margin-b-30">
                <div class="features-box">
                    <div class="icon">
                        <i class="fa fa-truck"></i>
                    </div>
                    <div class="text">
                        <h3>Free Shipping</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam.
                        </p>
                    </div>
                </div><!--features box-->
            </div><!--features column-->
            <div class="col-sm-4 margin-b-30">
                <div class="features-box blue">
                    <div class="icon">
                        <i class="fa fa-credit-card"></i>
                    </div>
                    <div class="text">
                        <h3>Secure payment</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam.
                        </p>
                    </div>
                </div><!--features box-->
            </div><!--features column-->
            <div class="col-sm-4 margin-b-30">
                <div class="features-box">
                    <div class="icon">
                        <i class="fa fa-refresh"></i>
                    </div>
                    <div class="text">
                        <h3>Easy Returns</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam.
                        </p>
                    </div>
                </div><!--features box-->
            </div><!--features column-->
        </div>
    </div>
    <!--features section end-->
{% endblock %}
