{% extends 'layout/coreui/principal.html.twig' %}

{% block content %}
    <h3>Recursos Humanos Universidad de Sevilla</h3>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <strong>Credit Card</strong>
                    <small>Form</small>
                </div>
                <div class="card-block">
                    <div class="row">

                        <div class="col-sm-12">

                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter your name">
                            </div>

                        </div>

                    </div>
                    <!--/row-->

                    <div class="row">

                        <div class="col-sm-12">

                            <div class="form-group">
                                <label for="ccnumber">Credit Card Number</label>
                                <input type="text" class="form-control" id="ccnumber" placeholder="0000 0000 0000 0000">
                            </div>

                        </div>

                    </div>
                    <!--/row-->

                    <div class="row">

                        <div class="form-group col-sm-4">
                            <label for="ccmonth">Month</label>
                            <select class="form-control" id="ccmonth">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div>

                        <div class="form-group col-sm-4">
                            <label for="ccyear">Year</label>
                            <select class="form-control" id="ccyear">
                                <option>2014</option>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                            </select>
                        </div>

                        <div class="col-sm-4">

                            <div class="form-group">
                                <label for="cvv">CVV/CVC</label>
                                <input type="text" class="form-control" id="cvv" placeholder="123">
                            </div>

                        </div>

                    </div>
                    <!--/row-->
                </div>
            </div>

        </div>
        <!--/col-->

        <div class="col-sm-6">

            <div class="card">
                <div class="card-header">
                    <strong>Company</strong>
                    <small>Form</small>
                </div>
                <div class="card-block">
                    <div class="form-group">
                        <label for="company">Company</label>
                        <input type="text" class="form-control" id="company" placeholder="Enter your company name">
                    </div>

                    <div class="form-group">
                        <label for="vat">VAT</label>
                        <input type="text" class="form-control" id="vat" placeholder="PL1234567890">
                    </div>

                    <div class="form-group">
                        <label for="street">Street</label>
                        <input type="text" class="form-control" id="street" placeholder="Enter street name">
                    </div>

                    <div class="row">

                        <div class="form-group col-sm-8">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" placeholder="Enter your city">
                        </div>

                        <div class="form-group col-sm-4">
                            <label for="postal-code">Postal Code</label>
                            <input type="text" class="form-control" id="postal-code" placeholder="Postal Code">
                        </div>

                    </div>
                    <!--/row-->

                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" id="country" placeholder="Country name">
                    </div>
                </div>
            </div>

        </div>
        <!--/col-->

    </div>
{% endblock %}
