{% extends "layout.html.twig" %}
{% set active = 'inicio' %}
{% set title = 'Welcome to Portus' %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h2>Universidad de Sevilla</h2>
    <p>Welcome to Portus.</p>
{% endblock %}
