<footer class="footer">
    <div class="row-fluid">
        <div class="col-md-4">
            <ul class="list-unstyled">
                <li><a href="https://github.com/Universidad-de-Sevilla/portus">Portus</a></li>
                <li><a href="http://www.us.es">Universidad de Sevilla</a></li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul class="list-unstyled">
                <li></li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul class="list-inline">
                <li><a href="#">Condiciones</a></li>
                <li><a href="#">Contactar</a></li>
                <li><a href="#">Soporte</a></li>
            </ul>
        </div>
    </div>
</footer>