<footer class="footer">
        <span class="text-left">
            <a href="http://www.us.es">Universidad de Sevilla</a>
        </span>
    <span class="float-xs-right">
            Powered by <a href="http://coreui.io">CoreUI</a>, Silex, Doctrine, PHP, MySQL
        </span>
</footer>