/* app.css */

/* Basics */
a {
    color: maroon;
}

/* Navigation */
.navbar-nav .nav-link {
    color: rgba(128, 0, 0, 1);
}

header.navbar a.navbar-brand {
    padding: 1.8rem 5rem;
    background-image: url('img/logo_recursos_humanos.png');
    background-size: 150px auto;
}

header.navbar a.navbar-brand {
    border-bottom: 0;
}

header.navbar {
    height: 60px;
    line-height: 60px;
}

.breadcrumb {
    background-color: #f6f6f6;
}

/* Layout */



/* Form and active elements */
.btn-primary {
    color: #fff;
    background-color: rgba(128, 0, 0, 0.9);;
    border-color: maroon;
}

.btn-danger {
    float: right !important;
}

/* Unique Elements */
#panel-mision {
    min-height: 200px;
    background-size: 100%;
    background: url('/assets/img/leon_puerta_gradiente.jpg');
    border: 1px solid maroon;
}