<footer class="footer">
        <span class="text-left">
            <a href="http://coreui.io">Galatar University</a> © 2016 Galatar.
        </span>
    <span class="float-xs-right">
            Powered by <a href="http://coreui.io">CoreUI</a>, Silex, Doctrine, PHP, MySQL
        </span>
</footer>