<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Humanox - Portal e intranet del personal de la Universidad de Sevilla">
    <meta name="author" content="Recursos Humanos - Universidad de Sevilla">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="/assets/coreui_theme/img/favicon.png">
    <title>{% if title is defined %}{{ title }} - {% endif %}Universidad de Sevilla</title>
    {% block css %}
        <link href="/assets/fontawesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/assets/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
        <link href="/assets/coreui_theme/css/style.css" rel="stylesheet">
        <link href="/assets/app.css" rel="stylesheet">
    {% endblock %}
</head>

<!-- BODY options, add following classes to body to change options
		1. 'compact-nav'     	  - Switch sidebar to minified version (width 50px)
		2. 'sidebar-nav'		  - Navigation on the left
			2.1. 'sidebar-off-canvas'	- Off-Canvas
				2.1.1 'sidebar-off-canvas-push'	- Off-Canvas which move content
				2.1.2 'sidebar-off-canvas-with-shadow'	- Add shadow to body elements
		3. 'fixed-nav'			  - Fixed navigation
		4. 'navbar-fixed'		  - Fixed navbar
		5. 'footer-fixed'		  - Fixed navbar
	-->

<body class="navbar-fixed sidebar-nav fixed-nav">
<header class="navbar">
    <div class="container-fluid">
        <button class="navbar-toggler mobile-toggler hidden-lg-up" type="button">☰</button>
        <a class="navbar-brand" href="{{ path('intranet') }}"></a>
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a class="nav-link navbar-toggler layout-toggler" href="#">☰</a>
            </li>
            <li class="nav-item px-1">
                <a class="nav-link" href="#">{{ 'Dirección'|trans }}</a>
            </li>
            <li class="nav-item px-1">
                <a class="nav-link" href="#">Planificación</a>
            </li>
            <li class="nav-item px-1">
                <a class="nav-link" href="#">Gestión</a>
            </li>
            <li class="nav-item px-1">
                <a class="nav-link" href="#">Formación</a>
            </li>
            <li class="nav-item px-1">
                <a class="nav-link" href="#">Acción Social</a>
            </li>
            <li class="nav-item px-1">
                <a class="nav-link" href="#">Prevención</a>
            </li>
            <li class="nav-item px-1">
                <a class="nav-link" href="#">Directorio</a>
            </li>
        </ul>
        <ul class="nav navbar-nav float-xs-right hidden-md-down">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-bell"></i><span class="tag tag-pill tag-danger">5</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <img src="/assets/coreui_theme/img/avatars/6.jpg" class="img-avatar"
                         alt="admin@bootstrapmaster.com">
                    <span class="hidden-md-down">admin</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header text-xs-center">
                        <strong>Account</strong>
                    </div>
                    <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span
                                class="tag tag-info">42</span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span
                                class="tag tag-success">42</span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span
                                class="tag tag-danger">42</span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comments<span
                                class="tag tag-warning">42</span></a>
                    <div class="dropdown-header text-xs-center">
                        <strong>Settings</strong>
                    </div>
                    <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Settings</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span
                                class="tag tag-default">42</span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="tag tag-primary">42</span></a>
                    <div class="divider"></div>
                    <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock Account</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
                </div>
            </li>
            <li class="nav-item">
                {#<a class="nav-link aside-toggle" href="#">☰</a>#}
            </li>
        </ul>
    </div>
</header>

{% block menu_lateral_principal %}
    {% include "intranet/layout/menu_lateral_principal.html.twig" %}
{% endblock %}

<!-- Main content -->
<main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item"><a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="btn btn-secondary" href="#"><i class="icon-speech"></i></a>
                <a class="btn btn-secondary" href="./"><i class="icon-graph"></i> &nbsp;Dashboard</a>
                <a class="btn btn-secondary" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
            </div>
        </li>
    </ol>

    <div class="container-fluid">
        <div class="animated fadeIn">
            {% block content %}{% endblock %}
        </div>
    </div>
    <!-- /.container-fluid -->
</main>

{% block menu_lateral_secundario %}
    {#{% include "intranet/layout/menu_lateral_secundario.html.twig" %}#}
{% endblock %}

{% block footer %}
    {% include "intranet/layout/footer.html.twig" %}
{% endblock %}

{% block js %}
    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/tether/dist/js/tether.min.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/pace/pace.min.js"></script>
    <script src="/assets/coreui_theme/js/app.js"></script>
    <script src="/assets/app.js"></script>
{% endblock %}

</body>
</html>
